<main class="login">
  <div class="login__left-side" style="background-image: url(<%= asset_path('login-bg.png') %>">
    <div class="login__content">
      <%= image_tag('login-ucr_logo.svg', alt: "UCR Login logo", class: "login__logo") %>

      <p class="login__copyright">© 2023 UNIVERSIDAD DE COSTA RICA | SO-CI</p>
    </div>
  </div>
  
  <div class="login__right-side">
    <div class="login__content">
      <%= image_tag('login-soci_logo.svg', alt: "SO-CI Login logo", class: "login__logo login__logo--soci mb-4") %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login__form") do |f| %>
        <div class="login__form-field">
          <%= f.label :email, class: "login__form-label fw-bold" %>
          <%= f.text_field :email, class: "login__form-input login__form-input--email form-control", placeholder: "Correo electrónico", autocomplete: "off" %>
        </div>

        <div class="login__form-field">
          <%= f.label :password, class: "login__form-label fw-bold" %>
          <%= f.password_field :password, class: "login__form-input login__form-input--password form-control", placeholder: "Contraseña", autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="login__form-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordarme", class: "login__form-label" %>
          </div>
        <% end %>

        <div class="login__form-action">
          <%= f.submit "INICIAR SESIÓN", class: "btn__login w-100 fw-bold" %>
        </div>
      <% end %>
    </div>
  </div>
</main>