<div id="<%= dom_id individual %>">
  <p>
    <strong>Nombre:</strong>
    <%= individual.first_name %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= individual.last_name %>
  </p>

  <p>
    <strong>Cédula:</strong>
    <%= individual.id_card %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= individual.email %>
  </p>

</div>
