<%= search_form_for @q, url: search_individuals_path, data: { turbo: false } do |f| %>
  <div class="row">
    <%= f.label :first_name, 'Nombre' %>
    <%= f.text_field :first_name_cont, class: "form-control" %>
  </div>
  <div class="row">
    <%= f.label :last_name, 'Apellidos' %>
    <%= f.text_field :last_name_cont, class: "form-control" %>
  </div>
  <div class="row">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email_cont, class: "form-control" %>
  </div>
  <div class="row">
    <%= f.label :id_card, 'Cédula' %>
    <%= f.text_field :id_card_start, class: "form-control" %>
  </div>
  <div class="action mt-3 text-end">
    <%= f.submit 'Buscar', class: "btn btn-secondary" %>
  </div>
<% end %>
