<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>
        <% if view == 'individual' %>
          Acciones
        <% else %>
          Agregar al proyecto
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody data-select-target="tableRows">
    <% @individuals.each do |investigator| %>
      <% if view != 'individual' %>
        <tr data-select-target="hidden">
      <% else %>
        <tr>
      <% end %>
        <td><%= investigator.id_card %></td>
        <td><%= investigator.first_name %></td>
        <td><%= investigator.last_name %></td>
        <td><%= investigator.email %></td>
        <td>
          <% if view == 'individual' %>
            <div class="btn-group gap-2">
              <%= render 'individuals/investigator_table_actions', individual: investigator %>
            </div>
          <% else %>
            <%= f.fields_for :individuals do |investigator_subform| %>
              <%= render 'projects/project_form/add_investigator_actions', investigador: investigator, investigator_subform: investigator_subform %>
            <%end%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
