<table class="table table-hover text-center">
  <thead>
  <tr>
    <th>Código previo</th>
    <th>Código final</th>
    <th>Nombre</th>
    <th>Investigador Principal</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.preAcceptanceCode %></td>
      <td><%= project.finalCode == "" ? "--" : project.finalCode %></td>
      <td><%= project.name %></td>
      <td><%= project.principal_investigator %></td>
      <td>
        <div class="btn-group gap-2">
          <%= link_to "Ver detalles", edit_project_path(project), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to "Eliminar", project, method: :delete, data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' }, class: 'btn btn-sm btn-outline-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @projects %>