<main class="container projects">

  <div class="projects__header">
    <h1 class="projects__title">LISTADO DE PROYECTOS</h1>

    <%= link_to new_project_path, class:"btn__primary" do %>
        <i class="bi bi-plus-square"></i>&nbsp;
        Agregar proyecto
    <% end %>
  </div>

  <section class="projects__filters">
    <div class="projects__section-header projects__section-header--filters">
      <h3 class="projects__section-title"><i class="bi bi-filter"></i>&nbsp;FILTROS</h3>
      <span id="toggle"><i class="bi bi-caret-up-fill"></i></span>
    </div>

    <div class="projects__filters-body">
      <%= render 'filter_form' %>
    </div>
  </section>

  <section class="projects__body">
    <div class="projects__section-header">
      <h3 class="projects__section-title"><i class="bi bi-list-ul"></i>&nbsp;PROYECTOS</h3>
    </div>

    <div class="table">
      <div class="table__header">
          <div class="table__row">
            <p class="table__head">DESCRIPCIÓN</p>
            <p class="table__head tablet-display">INVESTIGADORES</p>
            <p class="table__head">ACCIONES</p>
          </div>
      </div>

      <div class="table__body">
        <% @projects.each do |project| %>
          <div class="table__row">
            <div class="table__data project__description">
              <p class="project__codes">
                <%= project.preAcceptanceCode %> /
                <span class="project__final-code"><%= project.finalCode == "" ? "--" : project.finalCode %></span>
              </p>
  
              <p class="project__name">
                <%= project.name %>
              </p>
            </div>

            <div class="table__data tablet-display project__investigators">
              <p class="project__principal-investigator">
                <%= project.principal_investigator %>
              </p>
              <% project.associated_investigators.each do |i| %>
                <p class="project__associated-investigators ">
                  <%= i %>
                </p>
              <% end %>
            </div>

            <div class="table__data">
              <div class="project__actions">
                <%= link_to edit_project_path(project), class: "table__button-primary" do %>
                  <i class="bi bi-eye"></i>&nbsp;<span class="tablet-display">Ver detalles</span>
                <% end %>
                <%= link_to project, method: :delete, data: { turbo_method: :delete, turbo_confirm: '¿Está seguro(a) que desea eliminar este proyecto?' }, class: "table__button-danger" do %>
                  <i class="bi bi-trash3"></i>&nbsp;<span class="tablet-display">Eliminar</span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="projects__pagination">
      <p>Pagina 1 de 4 (20 resultados)</p>
      <%= will_paginate @projects %>
    </div>
  </section>
</main>