<div class="nested-fields agreement-fields minutes__form-fields--agreements">
  <div class="form__field">
    <%= f.text_field :code, class: "form-control form__input mt-2", placeholder: "N° de acuerdo" %>
  </div>

  <div class="form__field">
    <%= f.text_field :description, class: "form-control form__input mt-2", placeholder: "Descripción" %>
  </div>

  <div class="form__actions">
    <%= link_to_remove_association f, class: "btn__danger px-3 py-2" do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
    <%= link_to_add_association f, :transaction_records, class: "btn__primary px-3 py-2 add-transaction", data: { association_insertion_node: ".transactions", association_insertion_method: :append } do %>
      <i class="bi bi-plus-square"></i> Trámite
    <% end %>
  </div>
</div>

<%# TRANSACTIONS %>
<div id="transactions_<%= f.object.object_id %>" class="transactions">
  <%= f.fields_for :transaction_records do |transaction| %>
    <%= render "transaction_record_fields", f: transaction, minute: minute %>
  <% end %>
</div>

<script>
    $(document).on('cocoon:before-insert', function (e, insertedItem, originalEvent) {
        var htmlString = originalEvent.target.outerHTML
        var parser = new DOMParser();
        var doc = parser.parseFromString(htmlString, 'text/html');
        var element = doc.querySelector('a');
        var classes = Array.from(element.classList);
        if (classes.includes("add-transaction")) {
            e.preventDefault()
            var buttonClicked = originalEvent.target
            var parentAgreement = $(buttonClicked).closest('.agreement-fields')
            var transactions = parentAgreement.find('.transaction-fields')
            var totalTransactions = transactions.length

            if (totalTransactions === 0) {
                const sectionHeader = document.createElement('div');
                sectionHeader.classList.add('main__body-header--transactions');

                // Section title
                const subtitle = document.createElement('h2');
                subtitle.textContent = "Trámites";
                subtitle.classList.add('main__body-subtitle--minutes')
                sectionHeader.append(subtitle);

                // Section headers
                const headers = document.createElement('div');
                headers.classList.add('main__body-headers--transactions');

                ['Estado', 'Descripción', 'Acciones'].forEach(element => {
                    const paragraph = document.createElement('p');
                    paragraph.textContent = element;
                    headers.append(paragraph);
                });
                sectionHeader.append(headers);

                parentAgreement.append(sectionHeader);
                insertedItem.attr("id", parentAgreement.attr('id') + "transaction_1")
            } else {
                var lastAgreement = transactions[totalTransactions - 1]
                var lastAgreementId = lastAgreement.id
                var lastAgreementNumber = lastAgreementId.split("_")[3]
                var newAgreementNumber = parseInt(lastAgreementNumber) + 1
                lastAgreement.classList.remove('last__element');

                insertedItem.attr("id", parentAgreement.attr('id') + "transaction_" + newAgreementNumber)
            }

            // Set the data attributes for association insertion
            insertedItem.find("a.add_fields")
                .data("association-insertion-method", 'append')
                .data("association-insertion-node", '#' + parentAgreement.attr('id'));

            parentAgreement.append(insertedItem)

            // Adding styles to last recent agreement
            transactions = parentAgreement.find('.transaction-fields')
            lastTransaction = transactions[transactions.length - 1]
            lastTransaction.classList.add('last__element');
        }
    });
</script>