<div class="nested-fields article-fields">
  <div class="row mt-4">
    <div class="col-2">
      <%= f.label :code, "Número de artículo", style: "display: block" %>
    </div>
    <div class="col-2">
      <%= f.text_field :code, class: "form-control" %>
    </div>
    <div class="col-1">
      <%= f.label :project_id, "Proyecto", style: "display: block" %>
    </div>
    <div class="col-3">
      <%= f.select :project_id, options_for_select(@projects.all.map { |project| [project.finalCode + " - " + project.name, project.id] }), {}, class: "form-select" %>
    </div>
    <div class="col-3 btn-group">
      <%= link_to_remove_association f, class: "btn btn-danger" do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
      <%= link_to_add_association f, :agreements, class: "btn btn-success add-agreement", data: { association_insertion_node: ".agreements", association_insertion_method: :append } do %>
        <i class="bi bi-plus-circle-fill"></i> Agregar acuerdo
      <% end %>
    </div>
    <div class="row pb-2">
      <div id="agreements_<%= f.object.object_id %>" class="agreements">
        <%= f.fields_for :agreements do |agreement| %>
          <%= render "agreement_fields", f: agreement, minute: minute %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).on('cocoon:before-insert', function (e, insertedItem, originalEvent) {
        var htmlString = originalEvent.target.outerHTML
        var parser = new DOMParser();
        var doc = parser.parseFromString(htmlString, 'text/html');
        var element = doc.querySelector('a');
        var classes = Array.from(element.classList);
        if (classes.includes("add-agreement")) {
            e.preventDefault()
            var buttonClicked = originalEvent.target
            var parentArticle = $(buttonClicked).closest('.article-fields')
            var agreements = parentArticle.find('.agreement-fields')
            var totalAgreements = agreements.length
            if (totalAgreements === 0) {
                insertedItem.attr("id", parentArticle.attr('id') + "agreement_1")
            } else {
                var lastAgreement = agreements[totalAgreements - 1]
                var lastAgreementId = lastAgreement.id
                var lastAgreementNumber = lastAgreementId.split("_")[2]
                var newAgreementNumber = parseInt(lastAgreementNumber) + 1
                insertedItem.attr("id", parentArticle.attr('id') + "agreement_" + newAgreementNumber)
            }

            // Set the data attributes for association insertion
            insertedItem.find("a.add_fields")
              .data("association-insertion-method", 'append')
              .data("association-insertion-node", '#' + parentArticle.attr('id'));

            parentArticle.append(insertedItem)
        }
    });
</script>
