<div class="nested-fields article-fields minutes__form-fields">
  <div class="form__field pt-2">
    <%= f.text_field :code, class: "form-control form__input form__input--minutes", placeholder: "N° Articulo" %>
  </div>

  <div class="form__field pt-2">
    <%= f.select :project_id, options_for_select(@projects.all.map { |project| [project.finalCode + " - " + project.name, project.id] }), { prompt: "- Seleccione una opción -" }, class: "form-select form__input form__input--minutes" %>

    <%# TODO: ADD REQUEST SELECT FUNCTIONALITY %>
    <%# f.select :request_id, options_for_select(@requests.all.map { |request| [request.individual.first_name + " " + request.individual.last_name + " - " + request.title, request.id] }), {}, class: "form-select form__input" %>
  </div>

  <div class="form__actions">
    <%= link_to_remove_association f, class: "btn__danger px-3 py-2" do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>

    <%= link_to_add_association f, :agreements, class: "btn btn__primary px-3 py-2 add-agreement", data: { association_insertion_node: ".agreements", association_insertion_method: :append } do %>
      <i class="bi bi-plus-square"></i> Acuerdo
    <% end %>
  </div>
</div>

<%# Agreements %>
<div id="agreements_<%= f.object.object_id %>" class="agreements">
  <%= f.fields_for :agreements do |agreement| %>
    <%= render "agreement_fields", f: agreement, minute: minute %>
  <% end %>
</div>

<script>
    $(document).on('cocoon:before-insert', function (e, insertedItem, originalEvent) {
        var htmlString = originalEvent.target.outerHTML
        var parser = new DOMParser();
        var doc = parser.parseFromString(htmlString, 'text/html');
        var element = doc.querySelector('a');
        var classes = Array.from(element.classList);
        if (classes.includes("add-agreement")) {
            e.preventDefault()
            var buttonClicked = originalEvent.target
            var parentArticle = $(buttonClicked).closest('.article-fields')
            var agreements = parentArticle.find('.agreement-fields')
            var totalAgreements = agreements.length
            if (totalAgreements === 0) {
                insertedItem.attr("id", parentArticle.attr('id') + "agreement_1")
            } else {
                var lastAgreement = agreements[totalAgreements - 1]
                var lastAgreementId = lastAgreement.id
                var lastAgreementNumber = lastAgreementId.split("_")[2]
                var newAgreementNumber = parseInt(lastAgreementNumber) + 1
                insertedItem.attr("id", parentArticle.attr('id') + "agreement_" + newAgreementNumber)
            }

            // Set the data attributes for association insertion
            insertedItem.find("a.add_fields")
              .data("association-insertion-method", 'append')
              .data("association-insertion-node", '#' + parentArticle.attr('id'));

            parentArticle.append(insertedItem)
        }
    });
</script>
