<div class="container minute">
  <%= form_with(model: minute) do |f| %>
    <% if minute.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(minute.errors.count, "error") %> prohibited this minute from being saved:</h2>
        <ul>
          <% minute.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row pb-2">
      <%= f.label "Número", style: "display: block" %>
      <%= f.number_field :number, class: "form-control" %>
    </div>
    <div class="row pb-2">
      <%= f.label "Fecha", style: "display: block" %>
      <%= f.date_field :date, class: "form-control" %>
    </div>
    <div class="row pb-2">
      <%= f.label "Documento de acta", style: "display: block" %>
      <%= f.file_field :file, class: "form-control", direct_upload: true %>
      <% if minute.file.attached? %>
        <p>Documento existente: <%= link_to minute.file.filename, url_for(minute.file), target: "_blank" %></p>
      <% end %>
    </div>
    <div>
      <div class="row pb-2">
        <h4>Artículos</h4>
        <div>
          <%= link_to_add_association f, :articles, class: "btn btn-success add-article", data: { association_insertion_node: '.articles', association_insertion_method: :append} do %>
            <i class="bi bi-plus-circle-fill"></i> Agregar artículo
          <% end %>
        </div>
      </div>
      <div class="row pb-2">
        <div class="articles">
          <%= f.fields_for :articles do |article| %>
            <%= render "article_fields", f: article, minute: minute %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col text-center">
        <%= button_tag(:class => "btn btn-primary") do %>
          <i class="bi bi-check-lg"></i>
          Guardar
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
    $(document).on('cocoon:before-insert', function(e, insertedItem, originalEvent) {
        var htmlString = originalEvent.target.outerHTML
        var parser = new DOMParser();
        var doc = parser.parseFromString(htmlString, 'text/html');
        var element = doc.querySelector('a');
        var classes = Array.from(element.classList);
        if (classes.includes("add-article")) {
            var articleDiv = e.target
            var articles = articleDiv.getElementsByClassName("article-fields")
            var totalArticles = articles.length
            if (totalArticles === 0) {
                insertedItem.attr("id", "article_1")
            } else {
                var lastArticle = articles[totalArticles - 1]
                var lastArticleId = lastArticle.id
                var lastArticleNumber = parseInt(lastArticleId.split("_")[1])
                var newArticleNumber = lastArticleNumber + 1
                insertedItem.attr("id", "article_" + newArticleNumber)
            }
        }
    });
</script>
