<%= search_form_for @q do |f| %>
  <div class="main__filters-form main__filters-grid--3">
    <div class="main__filters-field">
        <%= f.label :project_id_eq, "Proyectos", class: "main__filters-label" %>
        <%= f.collection_select :project_id_eq, Project.all, :id, :to_s, { prompt: "- Seleccione una opci처n -" }, { class: "form-select main__filters-input" } %>
    </div>
    
    <div class="main__filters-field">
        <%= f.label :number_eq, "N째 Acta", class: "main__filters-label"  %>
        <%= f.number_field :number_eq, class: "form-control main__filters-input", placeholder: "N째 Acta" %>
    </div>
    
    <div class="main__filters-field">
        <%= f.label :investigator_id_eq, "Investigador(a)", class: "main__filters-label" %>
        <%= f.collection_select :investigator_id_eq, Individual.all, :id, :to_s, { prompt: "- Seleccione una opci처n -" }, { class: "form-select main__filters-input" } %>
    </div>
  </div>

  <div class="action main__filters-action text-end">
    <button type="submit" class="btn__secondary px-3 py-2">
        <i class="bi bi-search me-1"></i>
        Buscar
    </button>
  </div>
<% end %>
