<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :project_id_eq, "Proyectos" %>
    <%= f.collection_select :project_id_eq, Project.all, :id, :to_s, { prompt: "- Seleccione una opción -" }, { class: "form-select" } %>
  </div>
  <div class="field">
    <%= f.label :number_eq, "Nª Acta:" %>
    <%= f.number_field :number_eq, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :investigator_id_eq, "Investigador" %>
    <%= f.collection_select :investigator_id_eq, Individual.all, :id, :to_s, { prompt: "- Seleccione una opción -" }, { class: "form-select" } %>
  </div>

  <div class="action mt-3 text-end">
    <%= f.submit "Buscar", class: "btn btn-secondary" %>
  </div>
<% end %>