<div class="nested-fields transaction-fields minutes__form-fields--transactions">
  <div class="form__field">
    <%= f.select :status, TransactionRecord.statuses.keys.map { |key| [key.capitalize, key] }, {}, { class: 'form-select form__input mt-2' } %>
  </div>

  <div class="form__field">
    <%= f.text_field :description, class: "form-control form__input mt-2", placeholder: "Descripción" %>
  </div>

  <div class="form__actions">
    <%= link_to_remove_association f, class: "btn__danger px-3 py-2" do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
    <%= link_to_add_association f, :notices, class: "btn__primary px-3 py-2 add-notice", data: { association_insertion_node: ".notices", association_insertion_method: :append } do %>
      <i class="bi bi-plus-square"></i> Oficio
    <% end %>
  </div>
</div>

<%# NOTICES %>
<div id="notices_<%= f.object.object_id %>" class="notice">
  <%= f.fields_for :notices do |notice| %>
    <%= render "notice_fields", f: notice, minute: minute, transaction_record: f %>
  <% end %>
</div>

<script>
    $(document).on('cocoon:before-insert', function (e, insertedItem, originalEvent) {
        var htmlString = originalEvent.target.outerHTML
        var parser = new DOMParser();
        var doc = parser.parseFromString(htmlString, 'text/html');
        var element = doc.querySelector('a');
        var classes = Array.from(element.classList);
        if (classes.includes("add-notice")) {
            e.preventDefault()
            var buttonClicked = originalEvent.target
            var parentTransaction = $(buttonClicked).closest('.transaction-fields')
            var notices = parentTransaction.find('.notice-fields')
            var totalNotices = notices.length
            if (totalNotices === 0) {
                insertedItem.attr("id", parentTransaction.attr('id') + "notice_1")
            } else {
                var lastNotice = notices[totalNotices - 1]
                var lastNoticeId = lastNotice.id
                var lastNoticeNumber = lastNoticeId.split("_")[4]
                var newNoticeNumber = parseInt(lastNoticeNumber) + 1
                insertedItem.attr("id", parentTransaction.attr('id') + "notice_" + newNoticeNumber)
            }

            // Set the data attributes for association insertion
            insertedItem.find("a.add_fields")
                .data("association-insertion-method", 'append')
                .data("association-insertion-node", '#' + parentTransaction.attr('id'));

            parentTransaction.append(insertedItem)
        }
    });
</script>