<main class="container minutes" data-controller="filters">
  <div class="main__header">
    <h1 class="main__title">LISTADO DE ACTAS</h1>

    <%= link_to new_minute_path, class:"btn__primary" do %>
        <i class="bi bi-plus-square"></i>&nbsp;
        Agregar acta
    <% end %>
  </div>

  <section class="main__filters">
    <a class="main__filters-header filters-toggle" data-action="click->filters#toggle">
      <h3 class="main__filters-subtitle"><i class="bi bi-filter"></i>&nbsp;FILTROS</h3>
      <span id="toggle" data-name="minutes"><i class="bi bi-caret-down-fill"></i></span>
    </a>

    <div class="main__filters-body">
      <%= render 'minute_filters' %>
    </div>
  </section>

  <section class="main__body">
    <div class="main__body-header">
      <h3 class="main__body-subtitle"><i class="bi bi-list-ul"></i>&nbsp;ACTAS</h3>
      <a class="text-danger" id="clear-filters-button" style="display: none; text-decoration: none;" data-action="click->filters#clearFilters">Limpiar filtros &times;</a>
    </div>

    <%= render 'minutes_table' %>

    <div class="main__pagination">
      <%= render 'shared/pagination', object: @minutes %>
      <%= will_paginate @minutes, inner_window: 1 %>
    </div>
  </section>
</main>