<div class="nested-fields">
  <div class="row">
    <%= f.hidden_field :_destroy %>
    <% f.hidden_field :article_id, value: article.id %>
  </div>
  <div class="row">
    <div class="col-2">
      <%= f.label :code, "Número de acuerdo", style: "display: block" %>
    </div>
    <div class="col-2">
      <%= f.text_field :code, class: "form-control" %>
    </div>
    <div class="col-1">
      <%= f.label :description, "Descripción", style: "display: block" %>
    </div>
    <div class="col-2">
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="level3 col-3">
      <template id="template3">
        <%= f.fields_for :transactions, Transaction.new, child_index: "TEMPLATE_TRANSACTION" do |transaction| %>
          <%= render "minutes/transactions/transactions_fields", f: transaction, agreement: f %>
        <% end %>
      </template>
      <div class="btn-group">
        <%= link_to "#", data: { action: "click->nested-form#remove_association" }, class: "btn btn-sm btn-danger" do %>
          <i class="bi bi-trash"></i>
        <% end %>
        <%= link_to "#", data: { action: "nested-form#add_association", level: "3" }, class: "btn btn-sm btn-primary" do %>
          <i class="bi bi-plus"></i>
          Agregar trámite
        <% end %>
      </div>
    </div>
    <section class="childrenContainer row"></section>
  </div>
</div>