<div class="nested-fields">
  <div class="row">
    <%= f.hidden_field :_destroy %>
    <% f.hidden_field :agreement_id, value: agreement.id %>
  </div>
  <div class="row">
    <div class="col-2">
      <%= f.label :status, "Estado del trámite", style: "display: block" %>
    </div>
    <div class="col-2">
      <%= f.number_field :status, class: "form-control" %>
    </div>
    <div class="col-1">
      <%= f.label :description, "Descripción", style: "display: block" %>
    </div>
    <div class="col-2">
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="level4 col-3">
      <template id="template4">
        <%= f.fields_for :agreements, Agreement.new, child_index: "TEMPLATE_RECORD" do |agreement| %>
        <% end %>
      </template>
      <div class="btn-group">
        <%= link_to "#", data: { action: "click->nested-form#remove_association" }, class: "btn btn-sm btn-danger" do %>
          <i class="bi bi-trash"></i>
        <% end %>
        <%= link_to "#", data: { action: "nested-form#add_association", level: "2" }, class: "btn btn-sm btn-primary" do %>
          <i class="bi bi-plus"></i>
          Agregar acuerdo
        <% end %>
      </div>
    </div>
  </div>
</div>
